!!!
html
    head
        title= title
        link(rel='stylesheet/less', type='text/css', href='/bootstrap/less/bootstrap.less')
        link(rel='stylesheet/less', type='text/css', href='/styles.less')
        script(src='javascripts/less-1.2.1.min.js')
    body
        div.navbar.navbar-fixed-top
                div.container
                    div.pull-right
                        -if (everyauth.loggedIn)
                            div#user Welcome, #{user.firstName} #{user.lastName}!
                                &nbsp;
                                a(href="/logout") Logout
                        -else
                            div#user
                                a(href="/auth/facebook") Login
        div.container
                div.row
                    div#main-search.alert.alert-info.alert-no-close
                        span.help-inline
                            strong Betarator
                            &nbsp; Search for the best beta from around the globe.
                        form.pull-right.form-search(action="/search", method='get')
                            input.input-xlarge(type='text', 
                                name='query', 
                                placeholder="Type a grade, region, problem, name... etc.")
                            &nbsp;
                            button.btn.btn-primary(type='submit')= 'Search'
        div.container!= body