div.row
	div.span8
		form.form-horizontal(action="/register", method='post')
			fieldset
				legend= "Create a new account"					
				div.control-group
					label.control-label(for='username')= 'Username'
					div.controls
						input#username.input-xlarge(type='text', name='username)
				div.control-group
					label.control-label(for='password')= 'Password'
					div.controls
						input#password.input-xlarge(type='password', name='password')
				div.control-group
					label.control-label(for='confirm-password')= 'Confirm Password'
					div.controls
						input#confirm-password.input-xlarge(type='password')
				div.form-actions
					button.btn.btn-primary(type='submit')= 'Create a new account'
					&nbsp;
					button.btn(type='reset')= 'Cancel'
	div.span4
